<h1>Listing all activities in da system</h1>

<table>
  <tr>
    <th>Activity name</th>
    <th colspan="2"></th>
  </tr>

  <% @all_activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
      </tr>
  <% end %>
</table>

