</br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-5">
      <form method="post" action="/login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input name="email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <input type="submit" class="btn btn-info">
      </form>
    </div>
  </div>
  </br></br>
  <% if (defined?(@valid)) %>
      <div class="row">
        <div class="col-md-3 col-md-offset-5">
          <p class="bg-danger">
            You are not authorized
            </br></br>
          </p>
        </div>
      </div>
  <% end %>
</div>
